
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #031222;
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    transition: opacity 0.3s;
  }
  
  .scroll-to-top.visible {
    display: block;
  }
  